{
    "env": {
        "browser": true,
        "worker":true,
        "node": true,
        "jquery":true
    },
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script",
        "ecmaFeatures": {
            "impliedStrict": false,
            "jsx": false,
            "globalReturn":false
        }
    },
    "globals": {
        "escape":false,
        "atob":false,
        "btoa":false,
        "require": false,
        "requirejs": false,
        "define": false,
        "webix": false,
        "$$":true,
        "monex": false
    },
    "extends": [
        "eslint:recommended"
    ],
    "rules":{
        "strict":["error","global"],
        "complexity":["off",6],
        "valid-jsdoc":"warn",

        "no-unused-vars":"off",
        "for-direction":"warn",
        "getter-return":"warn",
        "no-extra-parens":"warn",
        "no-extra-label":"warn",
        "no-multi-spaces":"warn",
        "no-unused-labels":"warn",
        "eqeqeq":["warn", "always"],
        "no-alert":"warn",
        "no-console":"warn",
        "no-mixed-spaces-and-tabs":"warn",
        "semi":"warn",
        "no-eq-null":"error",
        "no-implicit-globals":"error",
        "no-multi-str":"error",
        "no-undef-init":"error",
        "no-undefined":"error",
        "no-use-before-define":"error",
        "consistent-return":"error",
        "no-useless-return":"error"
    }
}
